:root{
    --dark: #000E14;
    --secondary-dark: #00111A;
    --light: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--dark);
    color: var(--light);
}
a{
    text-decoration: none;
    color: var(--light);
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.secondary-bg{
    background-color: var(--secondary-dark);
}

.chapter-list li>div.lesson-info{
    padding: 1rem;
    border: 1px solid #2b2b3acb;
    box-shadow: 1px 1px #2b2b3acb;
    background-color: #2225278e;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.chapter-list li>div.lesson-info:hover{
    background-color: #001824;
    box-shadow: 2px 2px 6px #001824c5;
    transform: translateY(-5px);
}
.chapter-list li:last-child svg{
    display: none;
}
input.lesson-checkbox-input{
    display: none;
}
input.lesson-checkbox-input:checked + .checkbox::after{
    opacity: 1;
}
.checkbox{
    width: 20px;
    height: 20px;
    border: 2px solid #fcd34d;
    border-radius: 5px;
    margin-right: 1rem;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 2px;
}
.checkbox::after{
    content: '';
    transition: all 0.3s ease;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fcd34d;
    border-radius: 5px;
    opacity: 0;
}
.lesson{
    margin-left: .5rem;
    font-size: .7rem;
    color: #fcd34d;
    background-color: #fcd34d0e;
    padding: .10rem .5rem;
    border-radius: 4px;
}
.progress-bar{
    background-color: #fcd34d0e;
}
.progress-bar .done{
    background-color: #fcd34d;
    height: 100%;
    border-radius: 8px;
    width: .1%;
}

body{
    padding: 0 15px;
}