:root{
    --dark: #000E14;
    --secondary-dark: #00111A;
    --light: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--dark);
    color: var(--light);
}
a{
    text-decoration: none;
    color: var(--light);
}
li{
    list-style: none;
}
.flex{
    display: flex;
}
.secondary-bg{
    background-color: var(--secondary-dark);
}

.chapter-list li>div.lesson-info{
    padding: .5rem;
    border: 1px solid #001824;
    box-shadow: 1px 0px 2px 2px #001824;
    background-color: #001824;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.chapter-list li>div.lesson-info:hover{
    background-color: #001824;
    box-shadow: 2px 2px 6px #001824c5;
    transform: translateY(-5px);
}
.chapter-list li:last-child svg{
    display: none;
}
.lesson-progress .hide, .chapter-progress .hide{
    display: none;
}
.lesson-progress .progress-bar,.chapter-progress .progress-bar{
    width: 30px;
    height: 30px;
    border: 2px solid #fcd34d;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 2px;
}
.chapter-progress .progress-bar{
    width: 40px;
    height: 20px;
    /* border-radius: px; */
}
.lesson-progress .done, .chapter-progress .done{    
    transition: all 1s ease;
    display: block;
    width: 0;
    height: 100%;
    background-color: #fcd34d;
    border-radius: 5px;
}
 .chapter-progress .done{
    border-radius: 2px;
 }
.lesson{
    margin-left: .5rem;
    font-size: .7rem;
    color: #fcd34d;
    background-color: #fcd34d0e;
    padding: .10rem .5rem;
    border-radius: 4px;
}
.progress-bar{
    background-color: #fcd34d0e;
    overflow: hidden;
}
.progress-bar .done{
    background-color: #fcd34d;
    height: 100%;
    border-radius: 8px;
    width: .1%;
    transition: all 1s ease;
}

body{
    padding: 0 15px;
}
.explanation_container {
    background: #070a0c8e;
    border-radius: 25px;
    padding: 10px;
    color: white;
}
.answer{
    padding: 1rem;
    border: 1px solid #2b2b3acb;
    box-shadow: 1px 1px #2b2b3acb;
    background-color: #2225278e;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.correct{
    background-color: #00241e;
}
.incorrect{
    background-color: #4d0000;
}